.datatable {
  height: 550px;
  .actionCell {
    display: flex;
    align-items: center;
    gap: 15px;
    .actionView {
      padding: 2px 5px;
      border-radius: 5px;
      color: darkblue;
      border: 1px dotted rgba(0, 0, 139, 0.527);
      cursor: pointer;
      &:hover {
        background-color: rgba(0, 0, 139, 0.527);
      }
    }
  }
}
.loading,
.error {
  margin-bottom: 10px;
}
